.main-content{
  margin-top: 8%;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

#terms-pane { 
  width: 80%; 
  height:200px; 
  overflow:scroll; 
  border:1px solid #ccc; 
  background:#eee; 
  margin:5px 0; 
/*  margin:0 auto;*/
  padding:10px 20px;

}

.stickerPrice{
  padding-left: 0px;
}

.selectedStickerCheck{
  padding-left: 20px;

}

.summarySelectedValue{
  font-weight: 300;
}

.bg-success{
    padding: 15px;
}

.bg-primary{
    padding: 10px;
}

.required-red{
    color: red;
}